html,
body {
  height: 100%;
  width: 100%;
}

#home {
  background: url("../images/h_img.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  color: white;
}

#logo {
  margin-top: 11%;
}

#home h1 {
  margin-top: 2%;
}

#scroll {
  margin-top: 7%;
}

#services {
  background: url("../images/s_image.jpg") no-repeat;
  background-size: 100% 100%;
  color: white;
  height: 50%;
}
.top-buffer {
  margin-top: 2%;
}

#portfolio {
  width: 80%;
}

#contact-us {
  background: url("../images/c_image.jpg") no-repeat;
  background-size: 100% 100%;
}

.form-control {
  background-color: transparent;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control:valid {
  background-color: transparent;
}

textarea {
  height: 200px;
  padding-bottom: 30px;
}

.form {
  width: 60%;
  margin: 0 auto;
  padding: 2%;
}

.row {
  margin-bottom: 30px;
}

.container-fluid{
    margin-bottom: 30px;
}
footer p{
    margin: 20px;
    font-size: 0.8rem;
}

.design-detail, .development-detail, .product-detail{
  display: none;
}

#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8{
  position: relative;
}

#overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8 {
  display:none;
  width: 80%;
  height: 80%;
  margin: 8% 6%;
  position: absolute;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  /* text-align: center; */
}